@import "./base.css";

body {
  font-family: sans-serif;
  background-color: rgb(219, 230, 218);
  color: black;
}

.navbar-brand {
  color: hsl(122, 39%, 49%) !important;
  font-size: 30px;
  font-weight: bold;
}

.navbar-brand img {
  margin-right: 20px;
  margin-left: 15px;
}

.nav-link {
  color: hsl(122, 39%, 49%) !important;
  font-size: 25px;
  font-weight: bold;
}

.carousel-item img {
  border-radius: 15%;
}

.border {
  border-color: rgb(14, 98, 16) !important;
}

footer {
  font-size: large;
  color: black;
}

h6 {
  font-size: 20px;
  font-weight: bold;
  color: #555;
  line-height: 1.5;
  margin-bottom: 20px;
  margin-top: 20px;
  border-top: 2px solid #555;
  border-bottom: 2px solid #555;
  padding: 10px;
}

h2,
h1 {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color: #555;
  line-height: 1.5;
  margin-bottom: 20px;
  margin-top: 20px;
  border-top: 2px solid #555;
  border-bottom: 2px solid #555;
  padding: 10px;
}

p {
  font-size: 20px;
}

li {
  font-size: 17px;
}

.router-link {
  color: hsl(122, 39%, 49%);
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  padding: 5px 10px;
  margin: 0 10px;
}

.router-link-active {
  border-bottom: 2px solid hsl(122, 39%, 49%);
}

.router-link:hover {
  color: darkgreen !important;
}

.navbar-text {
  color: hsl(122, 39%, 49%) !important;
  font-size: 25px;
  padding: 5px 10px;
}

.navbar-text:before {
  content: "Logged (" attr(data-username) ")";
  font-weight: bold;
}

.add-animal {
  padding: 20px;
  margin: 15px;
  border-radius: 25px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  margin-bottom: 10px;
  color: #555 !;
}

.add-animal input,
.add-animal select {
  margin-bottom: 10px;
}

#login-google {
  background-color: #2c66c1;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border-radius: 25px;
  cursor: pointer;
}

#login-google:hover {
  background-color: #143f86;
}

#login-google:focus {
  outline: none;
  box-shadow: 0px 0px 3px 3px rgba(66, 133, 244, 0.3);
}

button[type="submit"] {
  font-size: 20px;
}

#logowanie input[type="email"],
#logowanie input[type="password"] {
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#logowanie button[type="submit"] {
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: auto;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

#logowanie button[type="submit"]:hover {
  background-color: #3e8e41;
}

#register input[type="email"],
#register input[type="password"],
#register input[type="text"] {
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#register button[type="submit"] {
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#register button[type="submit"]:hover {
  background-color: #3e8e41;
}

label,
input[type="text"],
input[type="name"],
input[type="email"],
input[type="password"] {
  font-size: 1.3rem;
}
label[for="register-name"] {
  font-size: 1.3rem;
}

.table thead th {
  font-size: 28px;
  font-weight: bold;
  color: #555;
  border-radius: 15px;
}

.table tbody td {
  font-size: 24px;
  color: #555;
}

.sidebar {
  border: 2px solid hsl(122, 39%, 49%);
  border-radius: 35px;
  padding: 27px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar a {
  display: block;
  padding: 7px;
  color: #555;
  font-weight: bold;
  font-size: 27px;
}

.sidebar a:hover {
  background-color: hsl(137, 16%, 78%);
}

.sidebar-link {
  color: #555;
  font-size: 20px;
  text-decoration: none;
  padding: 5px 10px;
  margin: 0 10px;
}

.addApoinment {
  padding: 20px;
  margin: 15px;
  border-radius: 25px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  margin-bottom: 10px;
  color: #555 !;
}

.addApoinment input,
.addApoinment select {
  margin-bottom: 10px;
}




